<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    {% include "navbar.html" %}
    <h1>This is About page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam libero nesciunt sit dolorem optio doloremque quos nam. Distinctio illum debitis provident error, amet officiis accusamus quia. Officia eaque laboriosam tempore dolores est modi nesciunt? Id, corporis. Ab quos ad maxime. Optio magnam dignissimos laboriosam autem odit, sequi repellendus doloremque accusantium.</p>
    <button>Contact us</button>
</body>
</html>